.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-container button {
  padding: 10px;
  cursor: pointer;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.login-container h1 {
  margin-bottom: 10px;
}
